:root {
    --menu-icons-color: gray;
    --menu-icons-hover-color: lightgray;
    --contact-icons-color: black;
    --contact-icons-hover-color: rgb(50,100,50);
    --bg-color: rgb(50,50,50);
    --bg-opposite-color: rgb(255,255,255);
    --sub-color: lightgreen;
    --sub-color-darker: rgb(10,90,10);
    --gradient-length: 3em;
    // color: rgb(140, 206, 42);
}
* {
    outline: none;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // font-family: 'Times New Roman';
    font-family: 'Arial';
    background: black;
    cursor: /* url("./imgs/cursor.png"),  */default;
    color: var(--bg-opposite-color);
}
.main-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url("./imgs/bg.jpeg");
    background-size: cover;
}
.container {
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
    border-radius: 35px;
    width: 50%;
    max-width: 650px;
    min-width: 290px;
    margin: 5% 0; 
    background: url("./imgs/menuBG.jpg");
    padding: 1% 2% 2% 2%;
    -webkit-box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.85);
    box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.85);

    h1 {
        font-family: "NexaScript";
        font-weight: 100;
        font-size: 35pt;
        text-align: center;
        margin: 0;
    }
    h2 {
        font-family: "NexaScript";
        font-weight: 500;
        font-size: 23pt;
        line-height: 23pt;
        margin: 3% 1%;
    }

    hr {
        width: 100%;
        border-radius: 3px;
        opacity: 0.2;
    }
}
.wrapper {

}
.cocktail-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;

    div {
        // display: inline-block;
        // position: relative;
        // width: 100%;
        // flex-shrink: 1;
        display: flex;
        color: white;
        line-height: 14pt;
        white-space: nowrap;

        &.name {
            color: goldenrod;
            font-size: 14pt;
        }

        &.ml {
            padding-left: 2pt;
            font-style: italic;
            font-size: 11pt;
            opacity: 0.9;

            &::after{
                content: " ml";
            }
        }

        &.dots {
            flex-grow:1;
            overflow: hidden;

            &::before {
                display: inline-block;
                position: relative;
                right: 0;
                width: 100%;
                color: goldenrod;
                content: "................................................................................................................................................................................................................................................................................................................................................................................................................................................"
            }


        }

        &.price {
            text-align: right;

            &::after {
                content: ".00 ₽";
            }
        }

        span {
            display: block;
            position: relative;
            white-space: normal;
            padding-left: 3%;
            padding-top: 0.5%;
            width: 97%;
            font-size: 11pt;
            font-style: italic;
            opacity: 0.8;
        }
    }
}
@font-face {
    font-family: "NexaScript";
    src: url("./fonts/NexaScript.ttf");
}
@media (max-width: 1280px) {
    
}
@media screen and (max-width: 700px) {
    .main-wrapper {
        background-size: initial;
    }
}
@media (max-width: 450px) {   

}